body {
	--border: 14px;
	--logo-dimension: 230px;
	--nav-height: 100px;
	--primary-color: #06172A;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	font-family: "Avenir Next";
	margin: 0;
	background: red;
	color: white;
}

main {
	height: calc(100% - 2 * var(--border));
	width: calc(100% - 2 * var(--border));
	background: var(--primary-color);
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
}

div {box-sizing: border-box;}



/* Nav */
.logo-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	height: calc(var(--logo-dimension) + var(--border));
	width: calc(var(--logo-dimension) + var(--border));
	background: red;
	transition: all 0.5s;
	pointer-events: none;
	z-index: 9999;
}

.logo-btn img {
	width: 100%;
	transition: filter 0.2s;
}

.nav-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 0;
	transition: width 0.5s;
	overflow: hidden;
	z-index: 9998;
}

.nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--nav-height);
	width: 100vw;
	font-weight: 700;
	background: red;
}

.section-link-container {
	display: flex;
	font-size: 25px;
}

.section-link {
	color: white;
	text-decoration: none;
}
.section-link:hover {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.section-link-divider {
	height: 30px;
	width: 0.2ch;
	background: white;
	margin: 0 12px;
	transform: rotate(5deg);
}

.social-media-link-container {
	position: absolute;
	right: var(--border);
	display: flex;
}

.social-media-link {
	font-size: 40px;
	color: white;
	text-decoration: none;
}
.social-media-link:nth-child(2) {padding: 0 10px;}



/* Animation Stuff */
.shrink-logo .logo-btn {
	height: var(--nav-height);
	width: var(--nav-height);
	cursor: pointer;
	pointer-events: all;
}
.shrink-logo .logo-btn img:hover {filter: drop-shadow(3px 3px blue);}

.show-nav .nav-wrapper {width: 100%;}



/* Front Page */
.video-container {
	position: relative;
	display: flex;
	height: calc(100vh - 2 * var(--border));
	width: calc(100vw - 2 * var(--border));
	overflow: hidden;
}

.blue-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 150, 0.7);
}

.overlay-text {
	--margin: 45px;
	position: absolute;
	bottom: var(--margin);
	left: calc(var(--logo-dimension) + var(--margin));
	font-size: 40px;
	line-height: 1.1;
}

.overlay-title {
	font-weight: 900;
	font-style: italic;
	color: red;
}

.overlay-desc {font-weight: 700;}

video {
	width: 100%;
	object-fit: cover;
}

.content-link-container {
	display: flex;
	height: 400px;
	width: 100%;
}

.content-link {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	color: red;
	text-decoration: none;
	overflow: hidden;
}
.content-link:hover .content-link-pic {opacity: 0.3;}
.content-link:hover .content-link-logo {
	width: 88%;
	transform: rotate(-5deg);
}

.content-link > * {transition: all 0.2s;}

.content-link-pic {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	object-fit: cover;
}

.content-link-logo {
	width: 80%;
	z-index: 10;
}



/* Pages */
.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 2 * var(--border));
	width: 100%;
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
	font-size: 60px;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	background: var(--primary-color);
	color: red;
	z-index: 997;
}

.spacer {
	height: 150px;
	width: 100%;
}



/* Work */
.partner-container {
	padding: 0 200px;
	padding-top: 10px;
}

.partner {
	--margin: 50px;
	display: flex;
	align-items: center;
}
.partner[pic-side="left"] .partner-pic {margin-right: var(--margin);}
.partner[pic-side="right"] .partner-pic {margin-left: var(--margin);}
.partner[pic-side="right"] .partner-info {text-align: right;}

.partner-pic {
	--dimension: 350px;
	min-height: var(--dimension);
	min-width: var(--dimension);
	border-radius: 50%;
	background: linear-gradient(90deg, #3172B6, #2B2F60);
}

.partner-info {
	display: flex;
	flex-direction: column;
}

.partner-title {
	font-size: 40px;
	font-weight: 900;
}

.partner-location {
	font-size: 30px;
	font-weight: 700;
	color: red;
}

.partner-desc {
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
}



/* Our Team */
.member-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.member-pic {
	position: relative;
	display: flex;
	background: linear-gradient(135deg, #3172B6, #2B2F60);
}
.member-pic:hover .member-caption {
	opacity: 1;
	visibility: visible;
}

.member-pic img {width: 100%;}

.member-caption {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	padding: 25px;
	visibility: hidden;
	background: #0008;
	transition: all 0.3s;
	cursor: default;
	box-sizing: border-box;
}

.member-name {
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}

.member-title {
	font-size: 20px;
	font-weight: 700;
	font-style: italic;
	margin: 5px 0;
	color: red;
	text-transform: uppercase;
}

.member-desc {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.1;
}