body {
	--border: 12px;
	--logo-dimension: 230px;
	--nav-height: 100px;
	--primary-color: #06172A;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	font-family: "Avenir Next";
	margin: 0;
	background: red;
	color: white;
}

main {
	height: calc(100% - 2 * var(--border));
	width: calc(100% - 2 * var(--border));
	background: var(--primary-color);
	overflow-x: hidden;
	overflow-y: scroll;
	box-sizing: border-box;
}

div {box-sizing: border-box;}



/* Nav */
.logo-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	height: calc(var(--logo-dimension) + var(--border));
	width: calc(var(--logo-dimension) + var(--border));
	background: red;
	transition: all 0.5s;
	pointer-events: none;
	z-index: 9999;
}

.logo-btn img {
	width: 100%;
	transition: filter 0.2s;
}

.nav-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 0;
	transition: width 0.5s;
	overflow: hidden;
	z-index: 9998;
}

.nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--nav-height);
	width: 100vw;
	font-weight: 700;
	background: red;
}

.section-link-container {
	display: flex;
	font-size: 25px;
}

.section-link {
	color: white;
	text-decoration: none;
}
.section-link:hover {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.section-link-divider {
	height: 30px;
	width: 0.2ch;
	background: white;
	margin: 0 12px;
	transform: rotate(5deg);
}

.social-media-link-container {
	position: absolute;
	right: var(--border);
	display: flex;
}

.social-media-link {
	font-size: 40px;
	color: white;
	text-decoration: none;
}
.social-media-link:nth-child(2) {padding: 0 10px;}



/* Animation Stuff */
.shrink-logo .logo-btn {
	height: var(--nav-height);
	width: var(--nav-height);
	cursor: pointer;
	pointer-events: all;
}
.shrink-logo .logo-btn img:hover {filter: drop-shadow(3px 3px blue);}

.show-nav .nav-wrapper {width: 100%;}